::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

* {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* stylelint-disable-next-line selector-class-pattern */
.__block-item {
  width: 100%;
}


